*{
 margin:0;
 padding: 0;
}
button{
    border: none;
    background-color: transparent;
}
.login{
    margin-top: 15px;
    font-size: 15px;
    color: white;
    font-family: poppins;
    margin-right: 15px;
    padding: 3px 15px;
}
.account{
    border: 1px solid #fff;
    margin-top: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: poppins;
    margin-right: 50px;
    padding: 5px 15px;
}
.logo{
    font-size: 50px;
    padding: 22px 31px;
    border-radius: 40%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}
.item{
    box-shadow:0 0 5px black;
    margin: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: -20px;
}
.image-container {
    display: inline-block;
    width: 46%;
    height: 200px;

}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    color: #192f60;
    margin-left: 10px;
    padding: 15px;
    font-weight: bold;
}
